<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
    
    
  
  <div class=".content-left" >

    <div class="chart-container">
      <div class="chart">
        <canvas baseChart
            [datasets]="ChartData"
            [options]="options"
            [labels]="labels"
            [type]="'line'">
        </canvas> 
      </div>
    </div> 
  </div>

  <ion-list>
    <ion-item *ngFor="let u of posts">
      <ion-card class="card">
        <ion-header>
          <ion-card-title>{{u.published_at}}</ion-card-title>
        </ion-header>
        <ion-card-content>
          
          <ion-label>GLP: {{u.lpg}} PPM</ion-label>
          <ion-label>temperature: {{u.temp}} C°</ion-label>
          </ion-card-content>
      </ion-card>
    </ion-item>
  
    </ion-list>

    
</ion-content>
