
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Unik
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


  



<ion-card>
  <ion-item>
    <ion-icon name="alarm-outline"></ion-icon>
</ion-item>
</ion-card>

<ion-card-content>
  <ion-item>
    <ion-icon color="rgb(43, 122, 11)" name="alarm-outline"></ion-icon>
</ion-item>

<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input type="email" id="input_email"></ion-input>
</ion-item>
</ion-card-content>

<ion-card-content>
  <ion-item>
    <canvas  baseChart
    [datasets]="ChartData"
    [options]="options"
    [labels]="labels"
    [type]="'doughnut'">
</canvas>
</ion-item>
</ion-card-content>





</ion-content>


