<!--------------------TITLE FOR THE USER PAGE AN ADAPTER THINKS----------------------------->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-----------------------------------CONTENT IN THE PAGE------------------------------------>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div class="content-center">
      
        
      <ion-card-content>
      
          
          <ion-button expand="block" fill="clean">Login</ion-button>

          <ion-button expand="block" fill="clean">Registe</ion-button>

          <ion-button expand="block" size="small" color="EB5353" >information about</ion-button>
          
          <button class="direction" routerLink="/login">logout</button>
        </ion-card-content>

    </div>
  </ion-card>
</ion-content>
