<!--------------------TITLE FOR THE USER PAGE AN ADAPTER THINKS----------------------------->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-----------------------------------CONTENT IN THE PAGE------------------------------------>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div class="content-center">
      
        
      <ion-card-content>
        <img src="assets/img/logo-unik.png">
          <button class="button" expand="block" routerLink="/login"  >Logout</button>
          <button  class="button" expand="block" (click)="presentAlert()" fill="clear"  >delete account</button>
        </ion-card-content>

    </div>
  </ion-card>
</ion-content>
