<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Forgote password?</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input  #email type="email" id="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">new password</ion-label>
          <ion-input #passwordnew type="password" id="passwordnew"></ion-input>
        </ion-item>
        <ion-button expand="block" fill="clear" (click)="passupdate(email,passwordnew)" size="large" shape="round">change password</ion-button>        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

