<ion-header>
  <ion-toolbar>
    <ion-title routerLink=" ">register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">name</ion-label>
      <ion-input type="text" id="input_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" id="input_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" id="input_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input type="password" id="input_password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">phone number</ion-label>
      <ion-input type="number" id="input_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">product id</ion-label>
      <ion-input type="text" id="input_email"></ion-input>
    </ion-item>
    <ion-button expand="block" routerLink="/login" size="large" shape="round">register</ion-button>
    </ion-card-content>
</ion-content>
