<ion-header>
  <ion-toolbar>
    <ion-title routerLink=" ">register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">name</ion-label>
      <ion-input #name type="text" id="input_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last name</ion-label>
      <ion-input #last_name type="text" id="input_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input #email type="email" id="input_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input #password type="password" id="input_password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">phone number</ion-label>
      <ion-input #phone type="number" id="input_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">product id</ion-label>
      <ion-input #product_id type="text" id="input_email"></ion-input>
    </ion-item>
    <ion-button (click)="saveReister(name,last_name,email,password,phone,product_id)" expand="block"  size="large"  shape="round">register</ion-button>
    </ion-card-content>
</ion-content>
<!--
routerLink="/login"-->
